main {
  margin: 50px;
}

#gameview {
  width: 90%;
  margin: 20px;
}
.color-button {
    width: 120px;
    height: 120px;
    float: left;
    margin: 10px;
    cursor: pointer;
}

#scoreTable tr:first-child {
  background-color: pink;
  height: 40px;
}

#scoreTable td {
  height: 40px;
  padding: 40px;
}

#scoreDiv {
  text-align: center;
}

#scoreDiv h1{
  margin-bottom: 40px;
}
nav
